<!-- seirs_sim/templates/seirs_sim/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEIRs</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'img/thepetridish-posse-python.png' %}" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'normal_simulation' %}">Normal Simulation</a></li>
                <li><a href="{% url 'vaccine_simulation' %}">Vaccine Simulation</a></li>
                <li><a href="{% url 'age_based_vaccine_simulation' %}">Age-Based Vaccine Simulation</a></li>
                <li><a href="{% url 'treatment_simulation' %}">Treatment Simulation</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
<footer>
    <p>&copy; 2024 Meningitis Simulation. All rights reserved.</p>
</footer>
</html>
