<!-- seirs_sim/templates/index.html -->
{% extends 'seirs_sim/base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to the Meningitis Simulation Platform</h1>
    <div class="card-grid">
        <div class="card" onclick="location.href='{% url 'normal_simulation' %}'">
            <h2>Run Normal Simulation</h2>
            <p>Simulate without any intervention.</p>
        </div>
        <div class="card" onclick="location.href='{% url 'vaccine_simulation' %}'">
            <h2>Run Vaccine Simulation</h2>
            <p>Simulate with a general vaccination strategy.</p>
        </div>
        <div class="card" onclick="location.href='{% url 'age_based_vaccine_simulation' %}'">
            <h2>Run Age-Based Vaccine Simulation</h2>
            <p>Simulate with an age-specific vaccination strategy.</p>
        </div>
        <div class="card" onclick="location.href='{% url 'treatment_simulation' %}'">
            <h2>Run Treatment Simulation</h2>
            <p>Simulate with a treatment intervention strategy.</p>
        </div>
    </div>
</div>
{% endblock %}
