body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

main {
    padding: 2rem 1rem;
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem 1rem; /* Added padding */
}

.intro h1 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.intro h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.intro p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

/* Adjusted for even spreading */
.intro h1, .intro h5, .intro p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.results .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-wrapper:hover img {
    transform: scale(1.05);
}

.index-footer {
    text-align: center;
    padding: 1rem 0;
    background: #2e2e2e;
    font-size: 0.75rem;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.index-footer p {
    margin: 0;
    color: #fff;
}
